li {
  cursor: pointer;
  background-color: black;
  width: 250px;
  border-radius: 3px;
  height: 35px;
  color: rgb(187, 173, 52);
  overflow: hidden;
  margin: 10px;
}

.id {
  display: inline-block;
  font-size: small;
  color: black;
  background-color: #ebd40a;
  padding: 8px 15px;
  margin-right: 5px;
  border-radius: 3px 0 0 3px;
}
